
# MPI C++ compiler
CXX 		= /usr/local/tools/compilers/ibm/mpicxx-fastmpi-mpich-312
CC		= $(CXX)

# Passed to compiler
OPT_LEVEL	= -O2
DEBUG_LEVEL	= -g -std=c++0x -pthread 
#DEBUG_LEVEL	= -g -pthread 
EXTRA_CCFLAGS	= -Wall
CXXFLAGS	= $(OPT_LEVEL) $(DEBUG_LEVEL) $(EXTRA_CCFLAGS)  -I./ -I../src -I/g/g90/sato5/opt/include
CCFLAGS		= $(CXXFLAGS) 

# Passed to the C pre-processor
CPPFLAGS        =  -I./ -I../src -I/g/g90/sato5/opt/include
CFLAGS		= $(CPPFLAGS)

# Passed to the linker
LDFLAGS         = -L./ -lstdc++  -L/g/g90/sato5/opt/lib -lpnmpi -lz -lintlc

# Link with these libraries
LDLIBS          =

# Installation path
prefix		= ./lib

